---
layout: base
title: Slovník
subtitle: slovník pojmů z kalisteniky
img: /assets/img/suche-slovnik.png
is_active_kalistenika: is-active
permalink: /kalistenika/slovnik/
description: Zkratky a významy slov ze světa kalisteniky i fitness, které by nemusely být hned jasné.
---

<p class="has-text-centered">{{ page.description }} Hodně slov je odvozených z angličtiny a použivají se v hovorové řeči.</p>

<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Pojem</th>
    <th>Význam</th>
  </tr>
  </thead>
  <tbody>
  {% assign sortedSlovnik = site.data.slovnik | sort: "pojem" %}
  {% for item in sortedSlovnik %}
  {% if item.pojem %}
  <tr>
    <td class="is-family-secondary">{{ item.pojem }}</td>
    <td>{{ item.vyznam }}</td>
  </tr>
  {% endif %}
  {% endfor %}

  </tbody>
</table>