<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Suche Ganbaatar",
    "image": "{{ page.img }}",
    "url": "https://suche.cz{{ page.url }}",
    "description": "{{ page.description }} {{ page.title }} - {{ page.subtitle }}",
    "homeLocation": {
      "@type": "City",
      "name": "Praha",
      "sameAs": [
        "https://www.praha.eu/",
        "https://cs.wikipedia.org/wiki/Praha",
        "https://www.google.com/maps/place/Praha/"
      ]
    },
    "knowsAbout": [
      "kalistenika",
      "fitness",
      "Python",
      "HTML",
      "Django"
    ],
    "knowsLanguage": [
      "czech",
      "english"
    ],
    "sameAs": [
      "https://www.facebook.com/suche.cz",
      "https://instagram.com/suche.cz",
      "https://github.com/SucheG",
      "https://www.youtube.com/channel/UC3ZjbExozk5GG2B_9k6WbbA"
    ]
  }
</script>