<!DOCTYPE html>
<html lang="cs">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127766964-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-127766964-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} &middot; suche.cz</title>

  <meta property="og:locale" content="cs_CZ">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} &middot; suche.cz"/>
  <meta property="og:url" content="https://suche.cz{{ page.url }}"/>
  <meta property="og:image" content="https://suche.cz{{ page.img }}"/>
  <meta property="og:site_name" content="Suche Ganbaatar &middot; suche.cz">
  <meta property="og:description" content="{{ page.title }} {{ page.subtitle }} {{ page.description }}">
  <meta name="description" content="{{ page.title }} {{ page.subtitle }} {{ page.description }}"/>
  <meta name="author" content="Suche Ganbaatar"/>
  <link rel="canonical" href="https://suche.cz{{ page.url }}"/>

  <script type="application/ld+json">
    {
      "@type": "WebSite",
      "headline": "{{ page.title }}",
      "author": {
        "@type": "Person",
        "name": "Suche Ganbaatar"
      },
      "description": "{{ page.title }} {{ page.subtitle }} {{ page.description }}",
      "url": "https://suche.cz{{ page.url }}",
      "name": "{{ page.title }} &middot; suche.cz",
      "@context": "https://schema.org"
    }</script>

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
</head>
<body class="has-navbar-fixed-bottom">
<section class="hero has-text-centered is-black is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-narrow">
          <figure class="image is-128x128 is-centered">
            <img class="is-rounded" src="{{ page.img }}" alt="">
          </figure>
        </div>
        <div class="column is-narrow">
          <h1 class="title is-family-secondary">{{ page.title }}</h1>
          <h2 class="subtitle is-italic">{{ page.subtitle }}</h2>

          <div class="tags is-centered">
            <a href="https://www.instagram.com/suche.cz" class="tag is-black" target="_blank">
              <span class="icon has-text-danger">
                <i class="fa-lg fab fa-instagram"></i>
              </span>
            </a>
            <a href="https://fb.me/suche.cz" class="tag is-black" target="_blank">
              <span class="icon has-text-link">
                <i class="fa-lg fab fa-facebook"></i>
              </span>
            </a>
            <a href="https://m.me/suche.cz" class="tag is-black" target="_blank">
              <span class="icon has-text-info">
                <i class="fa-lg fab fa-facebook-messenger"></i>
              </span>
            </a>
            <a href="https://www.youtube.com/channel/UC3ZjbExozk5GG2B_9k6WbbA" class="tag is-black is-hidden" target="_blank">
              <span class="icon has-text-grey">
                <i class="fa-lg fab fa-youtube"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10-tablet is-9-desktop is-8-widescreen is-7-fullhd">
        <div class="content has-text-white-ter">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="navbar is-black is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-family-secondary is-centered">
    <a class="navbar-item {{ page.is_active_index }}" href="/">
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
      <span>Úvod</span>
    </a>

    <a class="navbar-item {{ page.is_active_kalistenika }}" href="/kalistenika/">
      <span class="icon">
        <i class="fas fa-child"></i>
      </span>
      <span>Kali<span class="is-hidden-mobile">stenika</span></span>
    </a>

    <a class="navbar-item {{ page.is_active_programovani }}" href="/programovani/">
      <span class="icon">
        <i class="fas fa-code-branch"></i>
      </span>
      <span>Pro<span class="is-hidden-mobile">gramování</span></span>
    </a>

    <a class="navbar-item {{ page.is_active_feed }}" href="/feed/">
      <span class="icon">
        <i class="fas fa-rss"></i>
      </span>
      <span>Feed</span>
    </a>

    <div class="navbar-item has-dropdown is-hoverable {{ page.is_active_other }}">
      <div class="dropdown is-right is-up is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-black has-text-weight-bold is-size-5" aria-haspopup="true">&#8285;</button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content has-background-black">
            <div class="dropdown-item is-hidden">
              <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
            </div>
            
            <a href="/venkovni-trenink/" class="dropdown-item {{ page.is_active_venkovni_trenink }}">Venkovní trénink</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div style="position: fixed; top: 0; left: 0; z-index: 50; display: none;">
  <div class="tags">
    <div class="tag is-black is-hidden-tablet">mobile</div>
    <div class="tag is-black is-hidden-desktop is-hidden-mobile">tablet</div>
    <div class="tag is-black is-hidden-widescreen is-hidden-touch">desktop</div>
    <div class="tag is-black is-hidden-fullhd is-hidden-desktop-only is-hidden-touch">widescreen</div>
    <div class="tag is-black is-hidden-widescreen-only is-hidden-desktop-only is-hidden-touch">fullhd</div>
  </div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script src="/assets/js/main.js"></script>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat" attribution=setup_tool page_id="116446140031823" logged_in_greeting="Ahoj, jak vám mohu pomoci ?" logged_out_greeting="Ahoj, jak vám mohu pomoci ?"></div>

</body>
</html>